In [5]:
#pip install pandas_datareader

In [4]:
from pandas_datareader import wb
import pandas as pd

In [20]:
master_df = pd.read_csv(r'D:\Downloads\YesBankAccountTransactions_5373_production.csv')
master_df['RRN 1'] = master_df['RRN Number']
master_df['Lane Direction'] = master_df['Vehicle Direction']
print(master_df)

               ID                              Account  \
0        40276794                 User - +919057215724
1        40276724                 User - +919636538882
2        40276571                 User - +919887168954
3        40276570                 User - +919950903570
4        40276569                 User - +919928857907
...           ...                                  ...
1341770  42027689                LTC LOGISTICS PVT LTD
1341771  42027686                 User - +919880111722
1341772  42027684  VARUNA INTEGRATED LOGISTICS PVT LTD
1341773  42027679                         Pathan Sajid
1341774  42027680                 User - +919099800861

               Franchise Partner              Fastag  Amount  Opening Balance  \
0          Shree Shyam Roadlines  652210-108-0116166     0.0           205.00
1               Balaji Trackers   652210-108-0116705     0.0           230.00
2          Shree Shyam Roadlines  652210-108-0116168     0.0           650.00
3          Shree Shyam Roadlines  652210-108-0105523     0.0           200.00
4          Shree Shyam Roadlines  652210-108-0105516     0.0           180.00
...                          ...                 ...     ...              ...
1341770            Loconav India  652210-108-0128468   120.0        391170.44
1341771            Loconav India  652210-108-0145644   285.0         29514.00
1341772            Loconav India  652210-108-0033863   315.0       3014049.81
1341773  ENJOY Marketing Service                 NaN  6000.0          3833.50
1341774       D-TRACK TECHNOLOGY                 NaN  1000.0           -67.50

         Closing Balance Entry Type       Mode              Transacted At  \
0                 205.00      debit        nfc  2022-09-01 00:14:46 +0530
1                 230.00      debit        nfc  2022-09-01 00:13:03 +0530
2                 650.00      debit        nfc  2022-09-01 00:08:33 +0530
3                 200.00      debit        nfc  2022-09-01 00:08:33 +0530
4                 180.00      debit        nfc  2022-09-01 00:08:33 +0530
...                  ...        ...        ...                        ...
1341770        391050.44      debit        nfc  2022-09-20 23:05:37 +0530
1341771         29229.00      debit        nfc  2022-09-20 23:05:35 +0530
1341772       3013734.81      debit        nfc  2022-09-20 23:05:34 +0530
1341773          9833.50     credit  e_collect  2022-09-20 23:05:30 +0530
1341774           932.50     credit  e_collect  2022-09-20 23:05:30 +0530

         ...                  Toll Name   Toll ID Toll Lane  \
0        ...     MANOHARPURA TOLL PLAZA    9002.0    Lane01
1        ...     MANOHARPURA TOLL PLAZA    9002.0    Lane01
2        ...     MANOHARPURA TOLL PLAZA    9002.0    Lane01
3        ...     MANOHARPURA TOLL PLAZA    9002.0    Lane01
4        ...     MANOHARPURA TOLL PLAZA    9002.0    Lane01
...      ...                        ...       ...       ...
1341770  ...                L&T PANIPAT   39001.0     00007
1341771  ...          RAIKAL TOLL PLAZA   34001.0    Lane05
1341772  ...     MANDAWNAGAR TOLL PLAZA  186001.0         3
1341773  ...  BOMBAY GUJARAT ROAD LINES       NaN       NaN
1341774  ...            SAURABH   DUBEY       NaN       NaN

               Toll Coordinate  Vehicle Direction  \
0        27.3056399,75.9535128                  S
1        27.3056399,75.9535128                  S
2        27.3056399,75.9535128                  S
3        27.3056399,75.9535128                  S
4        27.3056399,75.9535128                  S
...                        ...                ...
1341770     29.433664,76.97014                  N
1341771    17.005867,78.194493                  S
1341772    26.810525,82.731283                  N
1341773      25010232001002991                NaN
1341774             4246182315                NaN

                                             Ext Txn ID  \
0        461661971486084450356P34161FA82033E764D838B8C0
1        561661971383310140140P34161FA82033E764D838FC20
2        53166197111321405615dP34161FA82033E764D838B900
3        561661971112865524466P34161FA82033E764D8338660
4        521661971112744499306P34161FA82033E764D8338580
...                                                 ...
1341770  68166369533719212235fP34161FA82033E764D83EBAA0
1341771            00217374963634161FA82033E764D8471D80
1341772  691663695333917739630P34161FA82033E764D81088E1
1341773                                    226358079623
1341774                                    226323020636

                      RRN Number  Reference Number                    RRN 1  \
0        '461661971486084450356P  '166197148630513  '461661971486084450356P
1        '561661971383310140140P  '166197138357220  '561661971383310140140P
2        '53166197111321405615dP  '166197111346125  '53166197111321405615dP
3        '561661971112865524466P  '166197111305557  '561661971112865524466P
4        '521661971112744499306P  '166197111296555  '521661971112744499306P
...                          ...               ...                      ...
1341770  '68166369533719212235fP  '166369533749938  '68166369533719212235fP
1341771            '002173749636  '166369533504869            '002173749636
1341772  '691663695333917739630P  '166369533416695  '691663695333917739630P
1341773                        '        '609061193                        '
1341774                        '        '825274245                        '

        Lane Direction
0                    S
1                    S
2                    S
3                    S
4                    S
...                ...
1341770              N
1341771              S
1341772              N
1341773            NaN
1341774            NaN

[1341775 rows x 23 columns]

In [2]:
# File Path D:\Documents\Cashback Reports\Reports
target_df = pd.read_excel(r'D:\Documents\Cashback Reports\Reports\entry_exit-dd-12-09-22.xlsx')
target_df['RRN 1'] = target_df['RRN_1']
# target_df['Lane Direction'] = target_df['RRN_2']*0
print(target_df)

NameError: name 'pd' is not defined

In [1]:
Left_join = pd.merge(target_df, master_df, on ='RRN 1', how ='left')
Left_join

NameError: name 'pd' is not defined

In [8]:
help(pd.merge)

Help on function merge in module pandas.core.reshape.merge:

merge(left: 'DataFrame | Series', right: 'DataFrame | Series', how: 'str' = 'inner', on: 'IndexLabel | None' = None, left_on: 'IndexLabel | None' = None, right_on: 'IndexLabel | None' = None, left_index: 'bool' = False, right_index: 'bool' = False, sort: 'bool' = False, suffixes: 'Suffixes' = ('_x', '_y'), copy: 'bool' = True, indicator: 'bool' = False, validate: 'str | None' = None) -> 'DataFrame'
    Merge DataFrame or named Series objects with a database-style join.

    A named Series object is treated as a DataFrame with a single named column.

    The join is done on columns or indexes. If joining columns on
    columns, the DataFrame indexes *will be ignored*. Otherwise if joining indexes
    on indexes or indexes on a column or columns, the index will be passed on.
    When performing a cross merge, no column specifications to merge on are
    allowed.

    Parameters
    ----------
    left : DataFrame
    right : DataFrame or named Series
        Object to merge with.
    how : {'left', 'right', 'outer', 'inner', 'cross'}, default 'inner'
        Type of merge to be performed.

        * left: use only keys from left frame, similar to a SQL left outer join;
          preserve key order.
        * right: use only keys from right frame, similar to a SQL right outer join;
          preserve key order.
        * outer: use union of keys from both frames, similar to a SQL full outer
          join; sort keys lexicographically.
        * inner: use intersection of keys from both frames, similar to a SQL inner
          join; preserve the order of the left keys.
        * cross: creates the cartesian product from both frames, preserves the order
          of the left keys.

          .. versionadded:: 1.2.0

    on : label or list
        Column or index level names to join on. These must be found in both
        DataFrames. If `on` is None and not merging on indexes then this defaults
        to the intersection of the columns in both DataFrames.
    left_on : label or list, or array-like
        Column or index level names to join on in the left DataFrame. Can also
        be an array or list of arrays of the length of the left DataFrame.
        These arrays are treated as if they are columns.
    right_on : label or list, or array-like
        Column or index level names to join on in the right DataFrame. Can also
        be an array or list of arrays of the length of the right DataFrame.
        These arrays are treated as if they are columns.
    left_index : bool, default False
        Use the index from the left DataFrame as the join key(s). If it is a
        MultiIndex, the number of keys in the other DataFrame (either the index
        or a number of columns) must match the number of levels.
    right_index : bool, default False
        Use the index from the right DataFrame as the join key. Same caveats as
        left_index.
    sort : bool, default False
        Sort the join keys lexicographically in the result DataFrame. If False,
        the order of the join keys depends on the join type (how keyword).
    suffixes : list-like, default is ("_x", "_y")
        A length-2 sequence where each element is optionally a string
        indicating the suffix to add to overlapping column names in
        `left` and `right` respectively. Pass a value of `None` instead
        of a string to indicate that the column name from `left` or
        `right` should be left as-is, with no suffix. At least one of the
        values must not be None.
    copy : bool, default True
        If False, avoid copy if possible.
    indicator : bool or str, default False
        If True, adds a column to the output DataFrame called "_merge" with
        information on the source of each row. The column can be given a different
        name by providing a string argument. The column will have a Categorical
        type with the value of "left_only" for observations whose merge key only
        appears in the left DataFrame, "right_only" for observations
        whose merge key only appears in the right DataFrame, and "both"
        if the observation's merge key is found in both DataFrames.

    validate : str, optional
        If specified, checks if merge is of specified type.

        * "one_to_one" or "1:1": check if merge keys are unique in both
          left and right datasets.
        * "one_to_many" or "1:m": check if merge keys are unique in left
          dataset.
        * "many_to_one" or "m:1": check if merge keys are unique in right
          dataset.
        * "many_to_many" or "m:m": allowed, but does not result in checks.

    Returns
    -------
    DataFrame
        A DataFrame of the two merged objects.

    See Also
    --------
    merge_ordered : Merge with optional filling/interpolation.
    merge_asof : Merge on nearest keys.
    DataFrame.join : Similar method using indices.

    Notes
    -----
    Support for specifying index levels as the `on`, `left_on`, and
    `right_on` parameters was added in version 0.23.0
    Support for merging named Series objects was added in version 0.24.0

    Examples
    --------
    >>> df1 = pd.DataFrame({'lkey': ['foo', 'bar', 'baz', 'foo'],
    ...                     'value': [1, 2, 3, 5]})
    >>> df2 = pd.DataFrame({'rkey': ['foo', 'bar', 'baz', 'foo'],
    ...                     'value': [5, 6, 7, 8]})
    >>> df1
        lkey value
    0   foo      1
    1   bar      2
    2   baz      3
    3   foo      5
    >>> df2
        rkey value
    0   foo      5
    1   bar      6
    2   baz      7
    3   foo      8

    Merge df1 and df2 on the lkey and rkey columns. The value columns have
    the default suffixes, _x and _y, appended.

    >>> df1.merge(df2, left_on='lkey', right_on='rkey')
      lkey  value_x rkey  value_y
    0  foo        1  foo        5
    1  foo        1  foo        8
    2  foo        5  foo        5
    3  foo        5  foo        8
    4  bar        2  bar        6
    5  baz        3  baz        7

    Merge DataFrames df1 and df2 with specified left and right suffixes
    appended to any overlapping columns.

    >>> df1.merge(df2, left_on='lkey', right_on='rkey',
    ...           suffixes=('_left', '_right'))
      lkey  value_left rkey  value_right
    0  foo           1  foo            5
    1  foo           1  foo            8
    2  foo           5  foo            5
    3  foo           5  foo            8
    4  bar           2  bar            6
    5  baz           3  baz            7

    Merge DataFrames df1 and df2, but raise an exception if the DataFrames have
    any overlapping columns.

    >>> df1.merge(df2, left_on='lkey', right_on='rkey', suffixes=(False, False))
    Traceback (most recent call last):
    ...
    ValueError: columns overlap but no suffix specified:
        Index(['value'], dtype='object')

    >>> df1 = pd.DataFrame({'a': ['foo', 'bar'], 'b': [1, 2]})
    >>> df2 = pd.DataFrame({'a': ['foo', 'baz'], 'c': [3, 4]})
    >>> df1
          a  b
    0   foo  1
    1   bar  2
    >>> df2
          a  c
    0   foo  3
    1   baz  4

    >>> df1.merge(df2, how='inner', on='a')
          a  b  c
    0   foo  1  3

    >>> df1.merge(df2, how='left', on='a')
          a  b  c
    0   foo  1  3.0
    1   bar  2  NaN

    >>> df1 = pd.DataFrame({'left': ['foo', 'bar']})
    >>> df2 = pd.DataFrame({'right': [7, 8]})
    >>> df1
        left
    0   foo
    1   bar
    >>> df2
        right
    0   7
    1   8

    >>> df1.merge(df2, how='cross')
       left  right
    0   foo      7
    1   foo      8
    2   bar      7
    3   bar      8

In [2]:
import pandas as pd
import numpy as np

# master_df = pd.read_csv(r'D:\Downloads\YesBankAccountTransactions_5373_production.csv')
# target_df = pd.read_excel(r'D:\Documents\Cashback Reports\Reports\entry_exit-dd-12-09-22.xlsx'

# initial_workbook = 'D:\Downloads\YesBankAccountTransactions_5373_production.csv'
# info_workbook = 'D:\Documents\Chargebacks\Bulk Duplicate and Return Journey\entry_exit-dd-12-09-22.xlsx'
output_workbook = 'output.xlsx'

# df_initial = pd.read_excel(initial_workbook)
# df_info = pd.read_excel(info_workbook)

path_1 = "D:\Downloads\YesBankAccountTransactions_5953_production (01-09-2022 - 30-09-2022).csv"

df_initial = pd.read_csv(path_1)
df_info = pd.read_excel(r'D:\Documents\Chargebacks\Bulk_Duplicate&Return_Journey\return_journey-19-09-22 & 26-09-22(To_Tech).xlsx')

print(df_initial)
print(df_info)

# df_initial.rename(columns={'Code':'IDs'}, inplace=True)

# df_3 = pd.merge(df_initial, df_info[['IDs','ID']], on='IDs', how='left')
# print(df_3)

# df_3.rename(columns={'IDs':'Code'}, inplace=True)

# df_3 = df_3.replace(np.nan, '', regex=True)
# print(df_3)

# df_3.to_excel(output_workbook, index=False)

               ID                              Account  \
0        40276239            28121-MAHESHWARI LOGISTIC
1        40276240            Best Roadways Ltd (14786)
2        40276241                    User - 9414076171
3        40276242            LAXMIHOLIDAYS  (22069_36)
4        40276243  VARUNA INTEGRATED LOGISTICS PVT LTD
...           ...                                  ...
2059456  42791656                 User - +919760113008
2059457  42791657                    User - 9200001244
2059458  42791658                 User - +919057864845
2059459  42791659             Katariya Trans Solutions
2059460  42791660                 User - +919660502190

              Franchise Partner              Fastag  Amount  Opening Balance  \
0                 Loconav India  652210-108-0113770   275.0        126251.17
1                 Loconav India  652210-108-0056977   210.0        349207.63
2              Balaji Trackers   652210-108-0135725   375.0        755960.00
3                     Dhirender  652210-108-0127976    75.0        125488.64
4                 Loconav India  652210-108-1038740   385.0       3472749.81
...                         ...                 ...     ...              ...
2059456                  ZUMICC                 NaN   300.0           237.00
2059457           Loconav India  652210-108-0146585   185.0        260643.20
2059458  AQSA TRACKING SOLUTION  652210-108-0150753   545.0          1202.00
2059459           Loconav India  652210-108-0123500   459.0         21703.75
2059460   Shree Shyam Roadlines  652210-108-0159057   345.0          1115.00

         Closing Balance Entry Type       Mode              Transacted At  \
0              125976.17      debit        nfc  2022-09-01 00:00:02 +0530
1              348997.63      debit        nfc  2022-09-01 00:00:02 +0530
2              755585.00      debit        nfc  2022-09-01 00:00:02 +0530
3              125413.64      debit        nfc  2022-09-01 00:00:05 +0530
4             3472364.81      debit        nfc  2022-09-01 00:00:05 +0530
...                  ...        ...        ...                        ...
2059456           537.00     credit  e_collect  2022-09-30 23:59:56 +0530
2059457        260458.20      debit        nfc  2022-09-30 23:59:56 +0530
2059458           657.00      debit        nfc  2022-09-30 23:59:58 +0530
2059459         21244.75      debit        nfc  2022-09-30 23:59:58 +0530
2059460           770.00      debit        nfc  2022-09-30 23:59:59 +0530

         ... Vehicle Number Tag color                Toll Name   Toll ID  \
0        ...     NL01AB8408      pink        DIGHAL TOLL PLAZA  103002.0
1        ...     RJ14GN8177      pink         HSTL TP04- GAJAN  536005.0
2        ...     RJ32GC7936      pink   MANOHARPURA TOLL PLAZA    9002.0
3        ...      HR38W6397     green        AMBALA CHANDIGARH   14001.0
4        ...      NL01Q7089    yellow  PAMPAMPALLAM TOLL PLAZA  239700.0
...      ...            ...       ...                      ...       ...
2059456  ...            NaN       NaN         SHAKIL SO AKHTAR       NaN
2059457  ...      GJ27V9527     green         GONDKHAIRI PLAZA   53001.0
2059458  ...     RJ09GC0654      pink       GADPURI TOLL PLAZA  312050.0
2059459  ...     GJ01DZ4826      pink      KHALAPUR TOLL PLAZA  540003.0
2059460  ...     RJ52GA5059      pink          JOYA TOLL PLAZA  194001.0

         Toll Lane                       Toll Coordinate Vehicle Direction  \
0            Lane3                   28.776746,76.621688                 S
1           Lane03                 23.5051103,73.3033763                 N
2           LANE04                 27.3056399,75.9535128                 S
3             LC05                   30.527449,76.813037                 E
4                6                 10.8131538,76.7957998                 S
...            ...                                   ...               ...
2059456        NaN                      0710000101147024               NaN
2059457          2                    21.137001,78.89666                 N
2059458     Lane18  28.24923826096969, 77.29142358676597                 N
2059459        W04                  18.801047, 73.285379                 W
2059460     LANE07                   28.836176,78.420749                 W

                                             Ext Txn ID  \
0        561661970601914401096P34161FA82033E764D8378D40
1        561661970601975243830P34161FA82033E764D81BD221
2        461661970602303887040P34161FA82033E764D84245A0
3                  00212476730134161FA82033E764D83E7D20
4        023970006310822235843534161FA82033E764D810C141
...                                                 ...
2059456                                    227356005114
2059457            00219767650034161FA82033E764D8479320
2059458  01000C181333797850997534161FA82033E764D8499C20
2059459  0100B6181333798168859634161FA82033E764D83C4D80
2059460  001002220930235959471234161FA82033E764D84DAA20

                      RRN Number  Reference Number
0        '561661970601914401096P  '166197060234130
1        '561661970601975243830P  '166197060251186
2        '461661970602303887040P  '166197060264722
3                  '002124767301  '166197060510147
4        '0239700063108222358435  '166197060522812
...                          ...               ...
2059456                        '        '673729630
2059457            '002197676500  '166456259679377
2059458  '01000C1813337978509975  '166456259827565
2059459  '0100B61813337981688596  '166456259857816
2059460  '0010022209302359594712  '166456259969790

[2059461 rows x 21 columns]
                         Tag_id  Function_code       txn_time  \
0      34161FA82033E764D8476040            450  '220918183313
1      34161FA82033E764D8475FA0            450  '220918162053
2      34161FA82033E764D84728C0            450  '220918125757
3      34161FA82033E764D82B5BC0            450  '220918084451
4      34161FA82033E764D83076A0            450  '220918134817
...                         ...            ...            ...
15552  34161FA82033E764C82370C0            450  '220919161155
15553  34161FA82033E764C8237D60            450  '220917212738
15554  34161FA82033E764D9F78161            450  '220919014010
15555  34161FA82033E764D83FF900            450  '220919002919
15556  34161FA82033E764D83D27A0            450  '220919002002

                        Txn_id  Issuer_id  Acquirer_id  Txn_amount  \
0      '0100B51802576598929599     652210          NaN       10500
1      '0100B51802497778701777     652210          NaN       10500
2      '010B171802375563622232     652210          NaN       13000
3      '010B171802223755624972     652210          NaN       13000
4      '0010022209180818171084     652210          NaN        8000
...                        ...        ...          ...         ...
15552            '002170220225     652210          NaN        8400
15553  '721663495819784554656P     652210          NaN       23000
15554            '002169047730     652210          NaN        3750
15555            '002168895210     652210          NaN      119000
15556            '002168874792     652210          NaN      119000

       Reason_code Full_partial_indicator  Toll_plaza_id  ...  \
0             3006                      P         540002  ...
1             3006                      P         540002  ...
2             3006                      P         540014  ...
3             3006                      P         540014  ...
4             3006                      P         360034  ...
...            ...                    ...            ...  ...
15552         3006                      P         536006  ...
15553         3006                      P         320101  ...
15554         3006                      P         536006  ...
15555         3006                      P         199002  ...
15556         3006                      P         199001  ...

                   Second RRN Toll reader time 1  Toll reader time 2  \
0      0100B51802576598929599                NaN                 NaN
1      0100B51802497778701777                NaN                 NaN
2      010B171802375563622232                NaN                 NaN
3      010B171802223755624972                NaN                 NaN
4      0010022209180818171084                NaN                 NaN
...                       ...                ...                 ...
15552            002170220225                NaN                 NaN
15553  721663495819784554656P                NaN                 NaN
15554            002169047730                NaN                 NaN
15555            002168895210                NaN                 NaN
15556            002168874792                NaN                 NaN

       First Transaction Amount Lane Direction 1 Lane Direction 2  Plaza Name  \
0                           NaN              NaN              NaN         NaN
1                           NaN              NaN              NaN         NaN
2                           NaN              NaN              NaN         NaN
3                           NaN              NaN              NaN         NaN
4                           NaN              NaN              NaN         NaN
...                         ...              ...              ...         ...
15552                       NaN              NaN              NaN         NaN
15553                       NaN              NaN              NaN         NaN
15554                       NaN              NaN              NaN         NaN
15555                       NaN              NaN              NaN         NaN
15556                       NaN              NaN              NaN         NaN

       Tag Color  Toll reader 1  Toll reader 2
0            NaN            NaN            NaN
1            NaN            NaN            NaN
2            NaN            NaN            NaN
3            NaN            NaN            NaN
4            NaN            NaN            NaN
...          ...            ...            ...
15552        NaN            NaN            NaN
15553        NaN            NaN            NaN
15554        NaN            NaN            NaN
15555        NaN            NaN            NaN
15556        NaN            NaN            NaN

[15557 rows x 25 columns]

In [32]:
# for i in df_info['MMT']:
    
#     print(i)

In [3]:
df_info.rename(columns={'First RRN':'RRN Number'}, inplace=True)
print(df_info['RRN Number'])

0        0100B51802382870098608
1        0100B51802419863157686
2        010B171802189147098496
3        010B171802168002802828
4        0010032209180615231674
                  ...
15552              002165143148
15553    721663409525586933544P
15554              002165441765
15555              002163441586
15556              002165818853
Name: RRN Number, Length: 15557, dtype: object

In [9]:
df_3 = pd.merge(df_info, df_initial[['RRN Number', 'Toll reader Time', 'Vehicle Number', 'Tag color', 'Toll Name', 'Toll ID', 'Toll Lane', 'Vehicle Direction']], on='RRN Number', how='left')
print(df_3)

                         Tag_id  Function_code       txn_time  \
0      34161FA82033E764D8476040            450  '220918183313
1      34161FA82033E764D8475FA0            450  '220918162053
2      34161FA82033E764D84728C0            450  '220918125757
3      34161FA82033E764D82B5BC0            450  '220918084451
4      34161FA82033E764D83076A0            450  '220918134817
...                         ...            ...            ...
15552  34161FA82033E764C82370C0            450  '220919161155
15553  34161FA82033E764C8237D60            450  '220917212738
15554  34161FA82033E764D9F78161            450  '220919014010
15555  34161FA82033E764D83FF900            450  '220919002919
15556  34161FA82033E764D83D27A0            450  '220919002002

                        Txn_id  Issuer_id  Acquirer_id  Txn_amount  \
0      '0100B51802576598929599     652210          NaN       10500
1      '0100B51802497778701777     652210          NaN       10500
2      '010B171802375563622232     652210          NaN       13000
3      '010B171802223755624972     652210          NaN       13000
4      '0010022209180818171084     652210          NaN        8000
...                        ...        ...          ...         ...
15552            '002170220225     652210          NaN        8400
15553  '721663495819784554656P     652210          NaN       23000
15554            '002169047730     652210          NaN        3750
15555            '002168895210     652210          NaN      119000
15556            '002168874792     652210          NaN      119000

       Reason_code Full_partial_indicator  Toll_plaza_id  ... Tag Color  \
0             3006                      P         540002  ...       NaN
1             3006                      P         540002  ...       NaN
2             3006                      P         540014  ...       NaN
3             3006                      P         540014  ...       NaN
4             3006                      P         360034  ...       NaN
...            ...                    ...            ...  ...       ...
15552         3006                      P         536006  ...       NaN
15553         3006                      P         320101  ...       NaN
15554         3006                      P         536006  ...       NaN
15555         3006                      P         199002  ...       NaN
15556         3006                      P         199001  ...       NaN

      Toll reader 1  Toll reader 2  Toll reader Time Vehicle Number Tag color  \
0               NaN            NaN               NaN            NaN       NaN
1               NaN            NaN               NaN            NaN       NaN
2               NaN            NaN               NaN            NaN       NaN
3               NaN            NaN               NaN            NaN       NaN
4               NaN            NaN               NaN            NaN       NaN
...             ...            ...               ...            ...       ...
15552           NaN            NaN               NaN            NaN       NaN
15553           NaN            NaN               NaN            NaN       NaN
15554           NaN            NaN               NaN            NaN       NaN
15555           NaN            NaN               NaN            NaN       NaN
15556           NaN            NaN               NaN            NaN       NaN

       Toll Name  Toll ID  Toll Lane  Vehicle Direction
0            NaN      NaN        NaN                NaN
1            NaN      NaN        NaN                NaN
2            NaN      NaN        NaN                NaN
3            NaN      NaN        NaN                NaN
4            NaN      NaN        NaN                NaN
...          ...      ...        ...                ...
15552        NaN      NaN        NaN                NaN
15553        NaN      NaN        NaN                NaN
15554        NaN      NaN        NaN                NaN
15555        NaN      NaN        NaN                NaN
15556        NaN      NaN        NaN                NaN

[15557 rows x 32 columns]

In [10]:
df_3 = df_3.replace(np.nan, '', regex=True)
print(df_3)

                         Tag_id  Function_code       txn_time  \
0      34161FA82033E764D8476040            450  '220918183313
1      34161FA82033E764D8475FA0            450  '220918162053
2      34161FA82033E764D84728C0            450  '220918125757
3      34161FA82033E764D82B5BC0            450  '220918084451
4      34161FA82033E764D83076A0            450  '220918134817
...                         ...            ...            ...
15552  34161FA82033E764C82370C0            450  '220919161155
15553  34161FA82033E764C8237D60            450  '220917212738
15554  34161FA82033E764D9F78161            450  '220919014010
15555  34161FA82033E764D83FF900            450  '220919002919
15556  34161FA82033E764D83D27A0            450  '220919002002

                        Txn_id  Issuer_id Acquirer_id  Txn_amount  \
0      '0100B51802576598929599     652210                   10500
1      '0100B51802497778701777     652210                   10500
2      '010B171802375563622232     652210                   13000
3      '010B171802223755624972     652210                   13000
4      '0010022209180818171084     652210                    8000
...                        ...        ...         ...         ...
15552            '002170220225     652210                    8400
15553  '721663495819784554656P     652210                   23000
15554            '002169047730     652210                    3750
15555            '002168895210     652210                  119000
15556            '002168874792     652210                  119000

       Reason_code Full_partial_indicator  Toll_plaza_id  ... Tag Color  \
0             3006                      P         540002  ...
1             3006                      P         540002  ...
2             3006                      P         540014  ...
3             3006                      P         540014  ...
4             3006                      P         360034  ...
...            ...                    ...            ...  ...       ...
15552         3006                      P         536006  ...
15553         3006                      P         320101  ...
15554         3006                      P         536006  ...
15555         3006                      P         199002  ...
15556         3006                      P         199001  ...

      Toll reader 1 Toll reader 2 Toll reader Time Vehicle Number Tag color  \
0
1
2
3
4
...             ...           ...              ...            ...       ...
15552
15553
15554
15555
15556

      Toll Name Toll ID Toll Lane Vehicle Direction
0
1
2
3
4
...         ...     ...       ...               ...
15552
15553
15554
15555
15556

[15557 rows x 32 columns]

In [11]:
output_workbook = 'merged.csv'
df_3.to_csv(output_workbook, index=False)

In [4]:
df_info

,Tag_id,Function_code,txn_time,Txn_id,Issuer_id,Acquirer_id,Txn_amount,Reason_code,Full_partial_indicator,Toll_plaza_id,...,Second RRN,Toll reader time 1,Toll reader time 2,First Transaction Amount,Lane Direction 1,Lane Direction 2,Plaza Name,Tag Color,Toll reader 1,Toll reader 2
0,34161FA82033E764D8476040,450,'220918183313,'0100B51802576598929599,652210,NaN,10500,3006,P,540002,...,0100B51802576598929599,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,34161FA82033E764D8475FA0,450,'220918162053,'0100B51802497778701777,652210,NaN,10500,3006,P,540002,...,0100B51802497778701777,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,34161FA82033E764D84728C0,450,'220918125757,'010B171802375563622232,652210,NaN,13000,3006,P,540014,...,010B171802375563622232,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,34161FA82033E764D82B5BC0,450,'220918084451,'010B171802223755624972,652210,NaN,13000,3006,P,540014,...,010B171802223755624972,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,34161FA82033E764D83076A0,450,'220918134817,'0010022209180818171084,652210,NaN,8000,3006,P,360034,...,0010022209180818171084,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15552,34161FA82033E764C82370C0,450,'220919161155,'002170220225,652210,NaN,8400,3006,P,536006,...,002170220225,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15553,34161FA82033E764C8237D60,450,'220917212738,'721663495819784554656P,652210,NaN,23000,3006,P,320101,...,721663495819784554656P,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15554,34161FA82033E764D9F78161,450,'220919014010,'002169047730,652210,NaN,3750,3006,P,536006,...,002169047730,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15555,34161FA82033E764D83FF900,450,'220919002919,'002168895210,652210,NaN,119000,3006,P,199002,...,002168895210,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15556,34161FA82033E764D83D27A0,450,'220919002002,'002168874792,652210,NaN,119000,3006,P,199001,...,002168874792,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df_merged = df_info.merge(df_initial, how='inner', on='RRN Number')
df_merged

Empty DataFrame
Columns: [Tag_id, Function_code, txn_time, Txn_id, Issuer_id, Acquirer_id, Txn_amount, Reason_code, Full_partial_indicator, Toll_plaza_id, TID, MMT, Internal tracking number, Unnamed: 13, RRN Number, Second RRN, Toll reader time 1, Toll reader time 2, First Transaction Amount, Lane Direction 1, Lane Direction 2, Plaza Name, Tag Color, Toll reader 1, Toll reader 2, ID, Account, Franchise Partner, Fastag, Amount, Opening Balance, Closing Balance, Entry Type, Mode, Transacted At, Toll reader Time, Vehicle Number, Tag color, Toll Name, Toll ID, Toll Lane, Toll Coordinate, Vehicle Direction, Ext Txn ID, Reference Number]
Index: []

[0 rows x 45 columns]